
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
  background: #aaa;
}

.container {
  margin: auto;
  width: 80%;
  background: #d0d0d0;
  padding: 10px;
  border-radius: 25px;
  border-right:  1px solid #aaa;
  border-left:   1px solid  #aaa;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.date {
  color: #aaa;
}

.entry {
  margin: auto;
  width: 80%;
  background: #ddd;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid #aaa;
  overflow-x: auto;
}
.entry_spacer {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.entry pre,
.entry code {
  background: #d0d0d0;
  font-family: Menlo, Monaco, "Courier New", monospace;
  border-radius: 5px;
}
.entry pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}
.entry pre,
.entry blockquote {
  page-break-inside: avoid;
}
.entry blockquote {
  border-left: 3px solid #bbb;
  padding-left: 1rem;
}
.entry a,
.entry a:visited {
  color: #444;
}

.entry a:hover,
.entry a:focus,
.entry a:active {
  color: #111;
}
.entry table,
.entry th,
.entry td {
  border: 1px solid black;
  border-collapse: collapse;
}
.entry thead tr {
  background-color: #ddd;
}
.entry table :is(td, th) {
  padding: 0.3em;
}
.entry tbody tr:nth-child(even) {
  background-color: #ddd;
}
.entry tbody tr:nth-child(odd) {
  background-color: #ccc;
}