@import url("https://fonts.googleapis.com/css?family=Merriweather:300italic,300");
/* @import url("https://raw.githubusercontent.com/develephant/mkdocs-codehilite-themes/refs/heads/master/css/monokai.css") */

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  background: #1e1e1e;
  color: #e6e6e6;
  font-family: "Merriweather", Georgia, serif;
  font-size: 18px;
  margin: 0;
}

.container {
  margin: auto;
  width: 80%;
  background: #2a2a2a;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.date {
    color: #666;
    font-size: small;
    float: right;
}

.tag {
    font-style: bold;
    display: inline;
    cursor: pointer
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  background: #2a2a2a;
  color: #e6e6e6;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.entry {
  margin: 0;
  background: #2f2f2f;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  box-sizing: border-box;
  width: auto;
  max-width: none;
}

.entry pre,
.entry code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.entry pre {
  padding: 0.5rem;
  line-height: 1.3;
  overflow-x: auto;
}

.entry blockquote {
  border-left: 3px solid #555;
  padding-left: 1rem;
  white-space: pre-line;
}

hr {
  border: 1px solid #555;
}

.entry a {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: bold;
  color: #9fc1ff;
}
.entry a:visited {
  color: #999;
}
.entry a:hover,
.entry a:focus,
.entry a:active {
  color: #fff;
}

.entry table,
.entry th,
.entry td {
  font-family: Menlo, Monaco, "Courier New", monospace;
  border: 1px solid #555;
  border-collapse: collapse;
  padding: 0.3rem;
}

.entry thead tr {
  background: #e6e6e6;
}

.entry tbody tr:nth-child(even) {
  background: #e6e6e6;
}
.entry tbody tr:nth-child(odd) {
  background: #ccc;
}

.entry_edit {
    background: #2a2a2a;
    outline: none;
    width: 100%;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
}

.codehilite .hll { background-color: #49483e }
.codehilite  { background: #272822; color: #f8f8f2 }
.codehilite .c { color: #75715e } /* Comment */
.codehilite .err { color: #960050; background-color: #1e0010 } /* Error */
.codehilite .k { color: #66d9ef } /* Keyword */
.codehilite .l { color: #ae81ff } /* Literal */
.codehilite .n { color: #f8f8f2 } /* Name */
.codehilite .o { color: #f92672 } /* Operator */
.codehilite .p { color: #f8f8f2 } /* Punctuation */
.codehilite .ch { color: #75715e } /* Comment.Hashbang */
.codehilite .cm { color: #75715e } /* Comment.Multiline */
.codehilite .cp { color: #75715e } /* Comment.Preproc */
.codehilite .cpf { color: #75715e } /* Comment.PreprocFile */
.codehilite .c1 { color: #75715e } /* Comment.Single */
.codehilite .cs { color: #75715e } /* Comment.Special */
.codehilite .gd { color: #f92672 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gi { color: #a6e22e } /* Generic.Inserted */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #75715e } /* Generic.Subheading */
.codehilite .kc { color: #66d9ef } /* Keyword.Constant */
.codehilite .kd { color: #66d9ef } /* Keyword.Declaration */
.codehilite .kn { color: #f92672 } /* Keyword.Namespace */
.codehilite .kp { color: #66d9ef } /* Keyword.Pseudo */
.codehilite .kr { color: #66d9ef } /* Keyword.Reserved */
.codehilite .kt { color: #66d9ef } /* Keyword.Type */
.codehilite .ld { color: #e6db74 } /* Literal.Date */
.codehilite .m { color: #ae81ff } /* Literal.Number */
.codehilite .s { color: #e6db74 } /* Literal.String */
.codehilite .na { color: #a6e22e } /* Name.Attribute */
.codehilite .nb { color: #f8f8f2 } /* Name.Builtin */
.codehilite .nc { color: #a6e22e } /* Name.Class */
.codehilite .no { color: #66d9ef } /* Name.Constant */
.codehilite .nd { color: #a6e22e } /* Name.Decorator */
.codehilite .ni { color: #f8f8f2 } /* Name.Entity */
.codehilite .ne { color: #a6e22e } /* Name.Exception */
.codehilite .nf { color: #a6e22e } /* Name.Function */
.codehilite .nl { color: #f8f8f2 } /* Name.Label */
.codehilite .nn { color: #f8f8f2 } /* Name.Namespace */
.codehilite .nx { color: #a6e22e } /* Name.Other */
.codehilite .py { color: #f8f8f2 } /* Name.Property */
.codehilite .nt { color: #f92672 } /* Name.Tag */
.codehilite .nv { color: #f8f8f2 } /* Name.Variable */
.codehilite .ow { color: #f92672 } /* Operator.Word */
.codehilite .w { color: #f8f8f2 } /* Text.Whitespace */
.codehilite .mb { color: #ae81ff } /* Literal.Number.Bin */
.codehilite .mf { color: #ae81ff } /* Literal.Number.Float */
.codehilite .mh { color: #ae81ff } /* Literal.Number.Hex */
.codehilite .mi { color: #ae81ff } /* Literal.Number.Integer */
.codehilite .mo { color: #ae81ff } /* Literal.Number.Oct */
.codehilite .sa { color: #e6db74 } /* Literal.String.Affix */
.codehilite .sb { color: #e6db74 } /* Literal.String.Backtick */
.codehilite .sc { color: #e6db74 } /* Literal.String.Char */
.codehilite .dl { color: #e6db74 } /* Literal.String.Delimiter */
.codehilite .sd { color: #e6db74 } /* Literal.String.Doc */
.codehilite .s2 { color: #e6db74 } /* Literal.String.Double */
.codehilite .se { color: #ae81ff } /* Literal.String.Escape */
.codehilite .sh { color: #e6db74 } /* Literal.String.Heredoc */
.codehilite .si { color: #e6db74 } /* Literal.String.Interpol */
.codehilite .sx { color: #e6db74 } /* Literal.String.Other */
.codehilite .sr { color: #e6db74 } /* Literal.String.Regex */
.codehilite .s1 { color: #e6db74 } /* Literal.String.Single */
.codehilite .ss { color: #e6db74 } /* Literal.String.Symbol */
.codehilite .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #a6e22e } /* Name.Function.Magic */
.codehilite .vc { color: #f8f8f2 } /* Name.Variable.Class */
.codehilite .vg { color: #f8f8f2 } /* Name.Variable.Global */
.codehilite .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.codehilite .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.codehilite .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.entry_spacer {
  width: 100%;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

#container {
  column-count: 3;
  column-gap: .5rem;
}
.entry {
    width: calc(100% / 1);
}

.entry {
  width: auto;
  margin: 0;
}

